#home-container{
    display: flex;

    #feed-posts{
        width: 100%;
        padding: 10px;
    }
    #user-friends{
        width: 25.5%;
        padding: 10px;
        border-left: 1px solid lightgray;
        height: 97vh;
    }
}